@model thuchanhmodul3.Models.Product
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_NoneLayout.cshtml";

}
<h2>Edit Product</h2>
<form action="~/Product/Edit" method="post">
    <input type="hidden" name="id" value="@Model.Id" />
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" value="@Model.Name">
    </div>
    <div class="form-group">
        <label for="price">Price</label>
        <input type="text" class="form-control" id="price" name="price" value="@Model.Price">
    </div>
    <button type="submit" class="btn btn-primary">Edit</button>
</form>

